body{
    font-family: sans-serif;
    font-size: 13px;
}
.form-group{
    margin-bottom: 12px;
}
.form-group input{
    margin-top: 2px;
    border: 1px solid #999;
    padding: 5px;
}
.msg-error {
  color: red;
  margin-bottom: 10px;
  font-size: 11px;
  min-height: 14px;
}
.msg-error{
    color: red;
    margin-bottom: 10px;
    font-size: 11px;
    min-height: 14px;
}
.btn-save{
    border-width: 0px;
    background-color: #198754;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
.btn-delete{
    border-width: 0px;
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
.data-table{
    margin-top: 20px;
}
table, td, th {
    border-collapse: collapse;
    border: 1px solid #999;
    padding: 5px;
}
